@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Megrim:wght@400;600&display=swap");

/* Reset default browser styles */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Nav bar */

.topnav {
  background-color: #ff5a5f;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Home Section Styles */
#home {
  background-image: url("/static/images/home-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: auto;
  min-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center; /*Add this line to center the button*/
}

.home-content {
  /* text-align: center; */
  color: #000;
  max-width: 600px;
  margin: 0 auto;
}

.home-content h2 {
  font-size: 40px;
  margin-bottom: 20px;
  /* text-align: center; */
}

.enquire {
  display: inline-block;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 20px;
  /* font-size: 20px; */
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px; /* Add margin-top to create spacing between text and button */
}

.enquire:hover {
  background-color: #e2474d;
}

/* Other Sections Styles */
section {
  background-color: #fff;
  padding: 40px 20px;
}

section h2 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center; /* Add this line to center the section headings */
}

.fixed-heading {
  position: fixed;
  top: 80px;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.horizontal-scroll {
  overflow-x: scroll;
  white-space: nowrap;
}

/* Footer Styles */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* About Section Styles */

.about-content {
  max-width: 1200px;
  margin: 0 auto;
  display: table; /* Use table display for side-by-side layout */
  width: 100%; /* Set the width of the table to 100% */
}

.about-image,
.about-text {
  display: table-cell; /* Display divs as table cells */
  vertical-align: middle; /* Vertically center the content */
  text-align: center; /* Center-align the content */
  padding: 20px; /* Add padding for spacing */
  width: 50%; /* Set both divs to equal width */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block; /* Remove any extra spacing below the image */
  margin: 0 auto; /* Center the image horizontally within the div */
  border-radius: 20px; /* Add border-radius to create curved borders */
}

.about-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.about-text p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

/* whyDonate Section Styles */

#whyDonate {
  /* background-color: #f9f9f9; */
  padding: 50px 20px;
}

.why-donate-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex; /* Use flexbox for side-by-side layout */
  align-items: center; /* Center vertically */
}

.why-donate-image {
  flex-basis: 50%; /* Set the width to 50% for the image */
}

.why-donate-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.why-donate-text {
  flex-basis: 50%; /* Set the width to 50% for the text */
  padding-left: 40px; /* Add left padding for spacing */
  text-align: center; /* Align the text to the left */
}

.why-donate-text h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.why-donate-text p {
  font-size: 18px;
  line-height: 1.5;
  color: #333;
}

/* Gallery Section Styles */

#gallery {
  /* background-color: #f9f9f9; */
  padding: 50px 20px;
  margin-bottom: 20px; /* Adjust the margin-bottom value as needed */
}

#gallery h2 {
  margin-bottom: 40px; /* Adjust the margin as needed */
}

.image-gallery {
  overflow-x: auto;
  white-space: nowrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.image-container {
  display: inline-block;
  width: 400px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  margin-right: 10px;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Videos Section Styles */

#videos {
  padding: 50px 20px;
}

#videos h2 {
  margin-bottom: 40px; /* Adjust the margin as needed */
}

.video-row {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 20px; /* Add a gap between the videos */
}

.video-container {
  flex: 0 0 50%;
  max-width: 42%;
  height: 350px;
  border-radius: 20px; /* Apply border radius */
  overflow: hidden; /* Add overflow hidden to hide any content exceeding the container */
}

.video-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Services Section Styles */

#services {
  padding: 50px 20px;
}

#services h2 {
  margin-bottom: 40px;
  text-align: center;
}

.services-container {
  display: flex;
  justify-content: center;
}

.service {
  flex-basis: 25%; /* Set the width of each service div */
  max-width: 250px; /* Limit the maximum width */
  margin: 20px;
  padding: 20px;
  text-align: center;
  transition: box-shadow 0.3s ease; /* Add transition for smooth effect */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service img {
  width: 100%;
  height: 150px; /* Set the fixed height of the image */
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 10px;
}

.service h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.service p {
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 20px;
  height: 120px; /* Set the fixed height of the paragraph */
  overflow: hidden;
}

.service a.enquire {
  display: inline-block;
  align-items: center;
  justify-content: center;
  background-color: #ff5a5f;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.service:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.425); /* Apply box shadow on hover */
}

.service a.enquire:hover {
  background-color: #e04649;
}

/* Contact Us Section Styles */

#contact {
  padding: 40px;
}

#contact h2 {
  text-align: center;
  margin-bottom: 60px; /* Adjust the margin as needed */
}

.contact-container {
  display: flex;
  align-items: flex-start;
}

.map-container {
  flex: 3;
  padding-right: 0; /* Remove the right padding */
  padding-left: 20px; /* Add left padding */
  height: 400px; /* Adjust the height as desired */
  width: 70%; /* Adjust the width as desired */
  display: flex;
  justify-content: flex-end; /* Align map to the right */
  align-items: center;
}

.contact-info-container {
  flex: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
}

.contact-info-container .info-row {
  display: flex;
  align-items: center;
  padding-left: 60px;
  margin-bottom: 20px; /* Increase the margin-bottom value as desired */
}

.contact-info-container .info-row .icon {
  margin-right: 10px;
}

.contact-info-container .info-row .icon i {
  font-size: 36px; /* Increased icon size */
  color: #ff5a5f; /* Icon color (replace with your desired color) */
}

.contact-info-container .info-row .info {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  margin-left: 10px; /* Adjust the margin as desired */
}

.contact-info-container .info-row h3 {
  margin-bottom: 5px;
}

.contact-info-container .info-row p {
  margin-bottom: 0;
  color: #565252; /* Paragraph text color */
}

.contact-info-container .info-row a {
  text-decoration: none;
  color: #333;
}

.contact-info-container .info-row a p {
  margin-bottom: 0;
  color: #565252; /* Paragraph text color */
}

.navbar-color .contact-info-container .info-row .icon i {
  color: #ff5a5f; /* Icon color same as the navbar color */
}

/* Scroll to top CSS */

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ff5a5f;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  z-index: 999;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

#scroll-to-top:hover {
  opacity: 1;
}

/* Media Queries */
@media (max-width: 767px) {
  /* Reset fixed positioning for navigation */
  nav {
    position: static; /* Changed from fixed */
  }

  nav ul {
    flex-direction: row; /* Changed from column */
    align-items: center; /* Added */
  }

  nav ul li {
    margin-right: 10px; /* Reset back to margin-right */
    margin-bottom: 0; /* Reset back to 0 */
  }

  nav .navbar-content {
    flex-direction: row; /* Changed from column */
    align-items: center; /* Added */
  }
}

/* Media Query for Responsive Contact Us Section */
@media (max-width: 767px) {
  .contact-container {
    flex-direction: column; /* Stack divs in a column */
  }

  .map-container {
    width: 100%; /* Full width for the map */
    padding: 0; /* Remove padding */
    justify-content: center; /* Center align the map */
  }

  .contact-info-container {
    width: 100%; /* Full width for the contact info */
    padding: 0; /* Remove padding */
  }
}

/* Media Query for Responsive Services Section */
@media (max-width: 767px) {
  .services-container {
    flex-wrap: wrap; /* Allow services to wrap in a column */
  }

  .service {
    flex-basis: 100%; /* Set full width for services in mobile view */
    max-width: none; /* Remove the maximum width */
  }
}

@media (max-width: 767px) {
  .about-content {
    display: block; /* Change to block display */
    width: auto; /* Reset width */
  }

  .about-image,
  .about-text {
    display: block; /* Change to block display */
    width: 100%; /* Set width to 100% */
    padding: 0; /* Remove padding */
    text-align: center; /* Center-align the content */
  }

  .about-image img {
    max-width: 80%; /* Adjust the image size as desired */
    margin: 0 auto; /* Center the image horizontally */
    border-radius: 20px; /* Add border-radius to create curved borders */
  }
}

@media only screen and (max-width: 767px) {
  /* Apply the gallery styles for mobile devices */
  .image-gallery {
    overflow-x: auto;
    white-space: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block; /* Display the gallery for mobile devices */
  }

  .image-container {
    display: inline-block;
    width: 100%; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    margin-right: 10px;
  }

  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .image-container::after {
    content: "Swipe for more"; /* Add the text content */
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #888;
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .why-donate-content {
    flex-direction: column; /* Display the content in a column form */
  }

  .why-donate-image,
  .why-donate-text {
    flex-basis: 100%; /* Set the width to 100% for both image and text */
    padding-left: 0; /* Remove the left padding */
    text-align: center; /* Center-align the text */
  }
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .video-row {
    flex-wrap: wrap; /* Display videos in a column format */
    justify-content: center; /* Center-align the videos */
  }

  .video-container {
    flex-basis: 100%; /* Set the width to 100% for the video container */
    max-width: 100%; /* Remove the maximum width restriction */
    height: auto; /* Adjust the height automatically based on content */
  }
}

/* CSS styles for mobile devices */
@media only screen and (max-width: 767px) {
  #scroll-to-top {
    display: none; /* Hide the button in mobile view */
  }
}
