<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/donor_data.css">
    <title>Donor_Data</title>
</head>

<body>

    <!-- Navigation -->

    <div class="topnav">
        <a href="{{ url_for('home') }}#home">Home</a>
        <a href="{{ url_for('home') }}#services">Services</a>
        <a href="{{ url_for('home') }}#about">About Us</a>
        <a href="{{ url_for('home') }}#gallery">Gallery</a>
        <a href="{{ url_for('home') }}#whyDonate">Why Donate Blood</a>
        <a href="{{ url_for('home') }}#videos">Videos</a>
        <a href="{{ url_for('home') }}#contact">Contact Us</a>
        <a href="{{ url_for('donor_register') }}">Register as Donor</a>
    </div>

    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
        {% for category, message in messages %}
        <ul class="flash-messages">
            {% for message in messages %}
            {% if category == 'danger' %}
            <li class="flash-message danger">{{ message }}</li>
            {% else %}
            <li class="flash-message success">{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <h1>Donor Database</h1>
        <table>
            <thead>
                <tr>
                    <th>Donor Name</th>
                    <th>Blood Type</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Date of Birth</th>
                    <th>Last Donation Date</th>
                    <th>Street Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Pin Code</th>
                    <th>Country</th>
                </tr>
            </thead>
            <tbody>
                {% for donor in donor %}
                <tr>
                    <td>{{ donor.DonorName }}</td>
                    <td>{{ donor.BloodType }}</td>
                    <td>{{ donor.PhoneNumber }}</td>
                    <td>{{ donor.Email.email }}</td>
                    <td>{{ donor.DateOfBirth }}</td>
                    <td>{{ donor.LastDonateDate }}</td>
                    <td>{{ donor.StreetAddress }}</td>
                    <td>{{ donor.City }}</td>
                    <td>{{ donor.State }}</td>
                    <td>{{ donor.pin_code }}</td>
                    <td>{{ donor.Country }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>

</html>