<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donor Registration Page</title>
    <link rel="stylesheet" href="/static/donor_register.css">
</head>

<body>
    <!-- Navigation -->
    <div class="topnav">
        <a href="{{ url_for('home') }}#home">Home</a>
        <a href="{{ url_for('home') }}#services">Services</a>
        <a href="{{ url_for('home') }}#about">About Us</a>
        <a href="{{ url_for('home') }}#gallery">Gallery</a>
        <a href="{{ url_for('home') }}#whyDonate">Why Donate Blood</a>
        <a href="{{ url_for('home') }}#videos">Videos</a>
        <a href="{{ url_for('home') }}#contact">Contact Us</a>
    </div>

    <div class="flash-container">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <ul class="flash-messages">
            {% for message in messages %}
            {% if category == 'danger' %}
            <li class="flash-message danger">{{ message }}</li>
            {% else %}
            <li class="flash-message success">{{ message }}</li>
            {% endif %}
            {% endfor %}
        </ul>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container">
        <div class="form-wrapper">
            <h1>Blood Donation Form</h1>
            <p class="confidential-message">Confidential - Please answer the following questions correctly. This will
                help to protect you and the patient who receives your blood.</p>
            <form method="POST" action="{{ url_for('donor_register') }}">
                {{ form.hidden_tag() }}

                <h2>Personal Details</h2>
                <div class="form-group">
                    <h3>{{ form.DonorName.label }}{% if form.DonorName.flags.required %}<span
                            class="required-field">*</span>{% endif %}</h3>
                    {{ form.DonorName() }}
                </div>

                <div class="form-group">
                    <h3>{{ form.DateOfBirth.label }}{% if form.DateOfBirth.flags.required %}<span
                            class="required-field">*</span>{% endif %}</h3>
                    {{ form.DateOfBirth() }}
                </div>

                <div class="form-group">
                    <h3>{{ form.BloodType.label }}{% if form.BloodType.flags.required %}<span
                            class="required-field">*</span>{% endif %}</h3>
                    {{ form.BloodType() }}
                </div>

                <div class="form-group">
                    <h3>{{ form.LastDonateDate.label }}{% if form.LastDonateDate.flags.required %}<span
                            class="required-field">*</span>{% endif %}</h3>
                    {{ form.LastDonateDate() }}
                </div>

                <h2>Contact</h2>
                <div class="form-group">
                    <h3>{{ form.PhoneNumber.label }}{% if form.PhoneNumber.flags.required %}<span
                            class="required-field">*</span>{% endif %}</h3>
                    {{ form.PhoneNumber() }}
                </div>

                <div class="form-group">
                    <h3>{{ form.email.label }}{% if form.email.flags.required %}<span class="required-field">*</span>{%
                        endif %}</h3>
                    {{ form.email() }}
                </div>

                <h2>Address</h2>
                <div class="form-group">
                    <h3>{{ form.StreetAddress.label }}{% if form.StreetAddress.flags.required %}<span
                            class="required-field">*</span>{% endif %}</h3>
                    {{ form.StreetAddress() }}
                </div>

                <div class="form-group">
                    <h3>{{ form.City.label }}{% if form.City.flags.required %}<span class="required-field">*</span>{%
                        endif %}</h3>
                    {{ form.City() }}
                </div>

                <div class="form-group">
                    <h3>{{ form.State.label }}{% if form.State.flags.required %}<span class="required-field">*</span>{%
                        endif %}</h3>
                    {{ form.State() }}
                </div>

                <div class="form-group">
                    <h3>{{ form.country_code.label }}{% if form.country_code.flags.required %}<span
                            class="required-field">*</span>{% endif %}</h3>
                    {{ form.country_code() }}
                </div>

                <div class="form-group">
                    <h3>{{ form.Country.label }}{% if form.Country.flags.required %}<span
                            class="required-field">*</span>{% endif %}</h3>
                    {{ form.Country() }}
                </div>

                <div class="form-field dropdown">
                    {{ form.AgreeToTerms.label }}{% if form.AgreeToTerms.flags.required %}<span
                        class="required-field">*</span>{% endif %} {{ form.AgreeToTerms() }}
                    <span class="dropdown-content">{{ form.AgreeToTerms.description }}</span>
                </div>

                <div class="form-group">
                    <div class="form_submit">
                        {{ form.Submit() }}
                    </div>
                </div>


            </form>
        </div>
    </div>

</body>

</html>